# Copyright (c) 2026 Hashim
# SPDX-License-Identifier: MIT

config BOARD_ULTIMATE_KEYBOARD
    select SOC_NRF52840_QIAA
    select ZMK_BOARD_COMPAT
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE
